@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel&family=Playfair+Display:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, hsl(224, 61%, 55%) 0%, rgb(11, 14, 24) 100%);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}


h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 15px;
  color: #ffffff;
}

#box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  width: 550px;
  height: 450px;
  border: 4mm ridge rgb(146, 148, 159);
  border-radius: 10px;
  margin: 30px 0 40px 0;
  background-color: #c5cccd;
}

.display {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  border: thick double  rgb(0, 0, 0);
  border-radius: 8px;
  height: 130px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 230px;

  background-color: #dcdcdc;
  color: #000000;
  font-size: 100px;
}

.counterBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 130px;
  width: 400px;
  margin-top: 230px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100px;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 60px;
  background-color: hsla(212, 76%, 46%, 0.992);
  color: #dcdcdc;
  cursor: pointer;
}

.plusBox:hover {
  color: #000000;
  background-color: hsl(125, 100%, 50%);
  font-weight: bold;
}
.lessBox:hover {
  color: #000000;
  background-color: hwb(0 0% 2%);
  font-weight: bold;
}

.reset {
  height: 50px;
  width: 100px;
  font-size: 25px;
  background-color: #ecf240fa;
  color: rgb(0, 0, 0);
}

.reset:hover {
  color: #fafafa;
  background-color: #000000;
  font-weight: bold;
}

#footer {
  background-image: radial-gradient(circle, hsl(224, 61%, 55%) 0%, rgb(11, 14, 24) 100%);
}
#footer .footer {
  min-height: 100px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h1  {
  color: #ffffff;
  font-size: 1rem;
}
#footer h2  {
  color: #ffffff;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon  {
  display: flex;
  margin-bottom: 10px;
}
#footer .social-item  {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img  {
  filter: grayscale(1);
  transition: .3s ease filter;
}
#footer .social-item:hover img  {
  filter: grayscale(0);
}
#footer p  {
  color: #ffffff;
  font-size: 0.7rem;
}

span {
  color:rgb(245, 243, 243);
}


@media only screen and (max-width: 600px) {
  .counterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
  }
  #box {
    width: 350px;
  }
  .display {
    width: 220px;
  }
  button {
    margin: 10px;
  }
  h1 {
    font-size: 30px;
    padding: 0 20px 0 20px;
  }
  h2 {
    font-size: 40px;
    padding: 0 20px 0 20px;
  }

  footer {
    font-size: 14px;
  }
}